@import "../../styles"

.row
    width: 100%
    height: 100%
    margin: 0px

.col
    height: 100%
    width: 100%

.material-icons
    color: $non-active-color !important
    
.sidenav-item
    cursor: pointer

.active
    background-color: $active-color !important

    a, .material-icons
        color: #fff !important