<app-breadcrumb [navs]="nav_position"></app-breadcrumb>
<h1 id="title">{{region.regionName}}</h1>
<div class="row row-tabs">
    <div class="col s3 offset-s9">
        <ul class="tabs">
            <li class="tab col s4" *ngIf="region_records"><a class="active" href="#line-chart"><i
                        class="material-icons">show_chart</i></a>
            </li>
            <li class="tab col s4"><a href="#map-view"><i class="material-icons">map</i></a></li>
        </ul>
    </div>
</div>
<div class="row full-height" id="line-chart" *ngIf="region_records">
    <div class="col s12">
        <ngx-charts-line-chart [yAxis]="true" [xAxis]="true" [legend]="true" [results]="region_records">
        </ngx-charts-line-chart>
    </div>
</div>
<div class="row full-height" id="map-view">
    <div class="col s12">
        <app-map [points]="[region_details]" [view]="view" [zoom]="zoom"></app-map>
    </div>
</div>