<app-breadcrumb [navs]="nav_position"></app-breadcrumb>
<h1 id="title">{{region.regionName}}</h1>
<div id="num-row" class="row">
    <ngx-charts-number-card [results]="region_data" [cardColor]="cardColor" [scheme]="colorSchemeNum">
    </ngx-charts-number-card>
</div>
<div class="row full-height">
    <div class="col s7">
        <div class="card-panel">
            <app-map [points]="[region_details]" [view]="view" [zoom]="zoom"></app-map>
        </div>
    </div>
    <div class="col s5">
        <div class="card-panel valign-wrapper">
            <ngx-charts-pie-chart [results]="region_data" [legend]="false" [labels]="true" [scheme]="colorScheme">
            </ngx-charts-pie-chart>
        </div>
    </div>
    <div class="col col-height s12">
        <div class="card-panel valign-wrapper">
            <div id="line-chart">
                <ngx-charts-line-chart [scheme]="colorSchemeLine" [yAxis]="true" [xAxis]="true" [legend]="true"
                    [results]="region_records" [showGridLines]="false">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>