<div class="row">
    <div class="row" id="title-row">
        <h1 id="title">Notifications</h1>
    </div>
    <div class="row">
        <div class="col s11">
            <div *ngIf="$notifications | async as notifications">
                <table class="highlight centered" *ngIf="notifications.length > 0; else nonotifications">
                    <thead>
                        <tr>
                            <th>Notification Date</th>
                            <th>Type</th>
                            <th>Mark as Read</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notification of notifications">
                            <td>{{notification.notificationTime}}</td>
                            <td *ngIf="notification.notificationType == 'proximity'">Near you</td>
                            <td *ngIf="notification.notificationType != 'proximity'">In your Region</td>
                            <td>
                                <label>
                                    <input [(ngModel)]="notification.isRead" type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #nonotifications>
                    <div id="nonot" class="container valign-wrapper center-align">
                        <p>You don't have any notifications.</p>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
    <div>