<div class="container valign-wrapper">
    <div class="row">
        <form class="col s12 card-panel center-align" [formGroup]="register" (ngSubmit)="on_submit()">
            <h1 id="title">Register</h1>
            <div class="row form-elem">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="username" type="text" class="validate" formControlName="username" required>
                    <label for="username">Username</label>
                    <span *ngIf="register.get('username').hasError('usernameValidator')" class="helper-text red-text left-align"
                        data-error="Username already in use">Username already in use</span>
                    <span *ngIf="register.get('username').hasError('required')" class="helper-text"
                        data-error="Username is required"></span>
                </div>
            </div>
            <div class="row form-elem">
                <div class="input-field col s6">
                    <i class="material-icons prefix">edit</i>
                    <input id="f_name" type="text" class="validate" formControlName="first_name" required>
                    <label for="f_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">edit</i>
                    <input id="l_name" type="text" class="validate" formControlName="last_name" required>
                    <label for="l_name">Last Name</label>
                </div>
            </div>
            <div class="row form-elem">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    <input id="email" type="email" class="validate" formControlName="email" required>
                    <label for="email">Email</label>
                    <span *ngIf="register.get('email').hasError('emailValidator')" class="helper-text red-text left-align"
                        data-error="Email already in use">Email already in use</span>
                    <span *ngIf="register.get('email').hasError('required')" class="helper-text"
                        data-error="Email is required"></span>
                </div>
            </div>
            <div class="row form-elem">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="pass" type="password" class="validate" formControlName="password" required>
                    <label for="pass">Password</label>
                </div>
            </div>
            <div class="row form-elem">
                <div class="input-field col s6">
                    <i class="material-icons prefix">place</i>
                    <input id="long" type="number" step="0.0001" class="validate" formControlName="long" required>
                    <label for="long">Longitude</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">place</i>
                    <input id="lat" type="number" step="0.0001" class="validate" formControlName="lat" required>
                    <label for="lat">Latitude</label>
                </div>
            </div>
            <div class="row form-elem">
                <div class="input-field col s12">
                    <select id="country_select" formControlName="country_code" class="browser-default" required>
                        <option value="" disabled selected>Choose your country</option>
                        <option [ngValue]="country.countryCode" *ngFor="let country of countries | async">
                            {{ country.countryName }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row form-elem">
                <div class="input-field col s12">
                    <select formControlName="region_name" class="browser-default">
                        <option value="" disabled selected>Choose your region</option>
                        <option [ngValue]="region.regionName" *ngFor="let region of regions | async">
                            {{ region.regionName }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row form-elem">
                <div class="col s10 offset-s1">
                    <div class="col s10 offset-s2">
                        <div class="switch left-align">
                            <label>
                                Are you a health professional?
                                <input id="health" type="checkbox" formControlName="health_professional">
                                <span id="health-lever" class="lever indigo lighten-3"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="!register.value.health_professional">
                <div class="row form-elem">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_hospital</i>
                        <input id="institution" type="text" class="validate" formControlName="institution" required>
                        <label for="institution">Institution</label>
                    </div>
                </div>
                <div class="row form-elem">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">perm_identity</i>
                        <input id="health_code" type="text" class="validate" formControlName="health_code" required>
                        <label for="health_code">Health Code</label>
                        <span *ngIf="register.get('health_code').hasError('healthCodeValidator')" class="helper-text red-text left-align"
                        data-error="Health code already in use">Health code already in use</span>
                    </div>
                    <div class="input-field col s6">
                        <select formControlName="position">
                            <option value="" disabled selected>Choose your role</option>
                            <option value="DOCTOR">Doctor</option>
                            <option value="NURSE">Nurse</option>
                            <option value="OTHER">Other</option>
                        </select>
                        <label>Role</label>
                    </div>
                </div>
            </div>
            <div class="row form-elem">
                <div class="col s12 center-align">
                    <button routerLinkActive="router-link-active" class="btn btn-large waves-effect waves-light"
                        type="submit" name="action">SigIn

                    </button>
                </div>
            </div>

        </form>
    </div>
</div>