<div class="row">
  <div class="row" id="title-row">
    <h1 id="title">Countries</h1>

    <app-search></app-search>

  </div>
  <div class="col s4" *ngFor="let country of $countries">
    <div class="card" (click)="navigate_details(country.countryCode)">
      <div class="card-content">
        <span class="card-title truncate">{{country.countryName}}</span>
       
          <ngx-charts-pie-grid [results]="country.results" [scheme]="colorScheme">
          </ngx-charts-pie-grid>
      </div>
    </div>
  </div>
</div>