<app-breadcrumb [navs]="nav_position"></app-breadcrumb>
<h1 id="title">{{country_details.countryName}}</h1>
<div id="num-row" *ngIf="country_records" class="row">
    <ngx-charts-number-card [results]="country_card_data" [cardColor]="cardColor" [scheme]="colorSchemeNum">
    </ngx-charts-number-card>
</div>
<div class="row full-height">
    <div *ngIf="country_records" class="col s7">
        <div class="card-panel">
            <app-map [markers]="country_regions" [points]="[country_details]" [view]="view" [zoom]="zoom"></app-map>
        </div>
    </div>
    <div *ngIf="!!!country_records" class="col s12">
        <div class="card-panel">
            <app-map [markers]="country_regions" [points]="[country_details]" [view]="view" [zoom]="zoom"></app-map>
        </div>
    </div>
    <div *ngIf="country_records" class="col s5">
        <div class="card-panel valign-wrapper">

            <ngx-charts-pie-chart [results]="country_data" [legend]="false" [labels]="true" [scheme]="colorScheme">
            </ngx-charts-pie-chart>

        </div>
    </div>
    <div *ngIf="country_records" class="col col-height s12">
        <div class="card-panel valign-wrapper">
            <div id="line-chart">
                <ngx-charts-line-chart [scheme]="colorSchemeLine" [yAxis]="true" [xAxis]="true" [legend]="true"
                    [results]="country_records" [showGridLines]="false">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>