<app-breadcrumb [navs]="nav_position"></app-breadcrumb>
<h1 id="title">{{country_details.countryName}}</h1>
<div class="row full-height">
    <div class="col s7">
        <div class="card-panel">
            <app-map [points]="[country_details]" [view]="view" [zoom]="zoom"></app-map>
        </div>
    </div>
    <div class="col s5">
        <div class="card-panel valign-wrapper">
            <ngx-charts-pie-chart [results]="country_data" [legend]="true" [labels]="true" [scheme]="colorScheme">
            </ngx-charts-pie-chart>
        </div>
    </div>
    <div class="col col-height s12">
        <div class="card-panel valign-wrapper">
            <div id="line-chart">
                <ngx-charts-line-chart [scheme]="colorSchemeLine" [yAxis]="true" [xAxis]="true" [legend]="true" [results]="country_records">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>

<!-- <h1 id="title">Regions</h1>
<p *ngIf="!country_regions">This country has no registered regions</p>

<div class="row">
    <div class="col s4" *ngFor="let region of country_regions" (click)="navigate_to(region.regionName)">
        <div class="card-panel region-card">
            <span class="black-text region-name">{{region.regionName}}
            </span>
        </div>
    </div>
</div> -->