@import "../../styles"

#title
  margin-top: 0px

.full-height
  height: 80%  

.row
  width: 100%

.col
  height: 75% 
  margin-bottom: 30px

.card-panel
  padding: 0
  height: 100%

.material-icons
  padding-top: 6px
  font-size: 25px
  color: $non-active-color 

.col-height
  height: 100% !important

.region-name
  font-size: 20px

#line-chart
  margin: 0 auto
  width: 90% !important
  height: 90%

#num-row
  height: 30%