/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')

$main-font: 'Roboto'
$non-active-color: #9575cd
$active-color: #7e57c2
$main-gradient: linear-gradient(to bottom, #7c4dff, #7157ff, #665fff, #5c66ff, #536dfe)

html,body
    margin:0
    padding:0
    height:100%
    width:100%

#title
  font-size: 50px
  display: inline-block
  margin-left: 25px
  margin-bottom: 50px
  font-family: $main-font
  border-bottom: 4px solid $active-color 

#title-row
  height: auto